.carousel-control-prev, .carousel-control-next {
    width: 4%; /* Ancho deseado */
    margin-left: 1%; /* Margen izquierdo deseado */
    margin-right: 1%; /* Margen derecho deseado */
}
.image-height{
    height: 500 px !important;
}